:root {
    font-size: 65.2%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
    position: relative;
}

ul {
    list-style: none;
    padding: 0;
}
.taskFilterStats{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2.4rem 0 2.4rem;
    font-size: 1.4rem;
    height: 5.0rem;
    color: #9495A5;
}
.taskFilterStats > div:last-child:hover {
    cursor: pointer;
    color: #494C6B;
}
.taskFilterStats-child2{
    display: flex;
    justify-content: space-between;
    width: 15.6rem;
    font-weight: 700;
}
.taskFilterStats-child2 > div:hover{
    color: #494C6B;
    cursor: pointer;
}

.btn-done {
    width: 24px;
    height: 24px;
    background: linear-gradient(138deg, rgba(87, 221, 255, 1) 0%, rgba(192, 88, 243, 1) 100%);
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.undone {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    position: relative;
}

.container {
    position: relative;
    max-width: 54.0rem;
    height: auto;
    margin: auto;
    top: -250px;
}
.textItem{
    width: 40.8rem;
    margin-right: 2.0rem;
    overflow: hidden;

}
.card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 6.4rem;
    width: auto;
    padding-left: 2.4rem;
    padding-right: 2.4rem;
}
.input{
    display: flex;
    justify-content: flex-start;
    /* margin-bottom: 2.4rem; */
    border-radius: 5px;
}
input{
    border: none;
    font-family: Josefin Sans;
    font-size: 1.8rem;
    width: 40.8rem;
    margin-left: 2.4rem;
}
input:focus {
    outline: none;
    border: none;
    caret-color: #3A7CFD;
}
.form{
    display: flex;
    align-items: center;
    height: 6.4rem;
    width: auto;
    padding-left: 2.4rem;
    padding-right: 2.4rem;
    border-radius: 5px;
}
button{
    all: unset;
}
.card > button{
    margin-right: 2.0rem;
}
header > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modo {
    border: none;
    background-color: transparent;
    height: 2.6rem;
}
h1 {
    color: #FFF;
    font-size: 4.0rem;
    font-weight: 700;
    letter-spacing: 1.5rem;
}
.filterInFocus{
    color: #3A7CFD;
}

.del:hover{
    cursor: pointer;
}
.popup {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 80%;
    width: 100%;
    max-width: 49.0rem;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    opacity: 0; 
    visibility: hidden; 
    transition: opacity 0.3s ease-in-out, visibility 0s linear 0.3s; 
}

.popup.show {
    opacity: 1;
    visibility: visible; 
}

