
ul {
    list-style: none;
    padding: 0;
}


.popup {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 80%;
    width: 100%;
    max-width: 49.0rem;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    opacity: 0; 
    visibility: hidden; 
    transition: opacity 0.3s ease-in-out, visibility 0s linear 0.3s; 
}

.popup.show {
    opacity: 1;
    visibility: visible; 
}

